PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games"

if [ -d /etc/profile.d ]; then
  for i in /etc/profile.d/*.sh; do
    if [ -r $i ]; then
      emulate sh -c '. $i'
    fi
  done
  unset i
fi

PATH="$HOME/.usr/bin:$PATH"

export PATH
export XDG_DATA_DIRS

typeset -U PATH path
typeset -UT XDG_DATA_DIRS xdg_data_dirs
